body {
    background: lightblue;
    margin: 5px;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.wrapper {
    margin: 0 auto;
    box-shadow: 0 0 2px #cccccc;
    max-width: 1000px;
}


/* ------------------------- Header ------------------------- */
.header {
    padding: 7px;
    background: #eaeaea;
}

.header-logo {
    display: inline-block;
    border-radius: 10px;
}

.header img {
    border-radius: 10px;
}

.header-title {
    display: inline-block;
    margin-left: 0px;
    font-size: 25px;
    text-align: center;
    vertical-align: bottom;
}


/* ------------------------- Subheader ------------------------- */
.subheader {
    position: relative;
    padding: 5px;
    overflow: auto;
    background: #eaeaea;
}

.signin, .signup, .greeting {
    float: right;
    color: #0088cc;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
}

.signin, .greeting {
    width: auto;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px 5px;
    background: white;
    color: slategrey;
    font-weight: bold;
}

input[type="submit"], .signout:hover {
    padding: 3px;
    border: 1px solid #ccc;
    font-weight: bold;
    color: white;
    background: #0088cc;
    border-radius: 5px;
}

input[type="submit"]:hover, .signout {
    padding: 3px;
    border: 1px solid #ccc;
    font-weight: bold;
    color: #0088cc;
    background: white;
    border-radius: 5px;
}

.subheader input {
    width: 60px;
}

[class^=sign] input:last-child {
    margin-top: 5px;
}

.greeting {
    font-size: 14px;
}

#burger {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1px 15px;
    font-size: 20px;
    font-weight: bold;
    color: slategrey;
    border: none;
    background-image: linear-gradient(to bottom, #fff, lightblue);
}


/* ------------------------- Menu ------------------------- */
.main-menu {
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
    border: 1px solid #e5e5e5;
}

.main-menu > li, #menu-message {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.main-menu a {
    display: block;
    margin-left: -1px;
    padding: 3px 10px;
    color: #0088cc;
    border-left: 1px solid #e5e5e5;
}

.main-menu a:hover {
    background: #f5f5f5;
}

.main-menu .sub-menu {
    position: absolute;
    left: 1px;
    display: none;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fcf8e3;
}

.main-menu .sub-menu a {
    margin-bottom: -1px;
    border: 1px solid #e5e5e5;
}

.main-menu > li:hover .sub-menu {
    display: block;
}


/* ------------------------- Sidebar ------------------------- */
#sidebar {
    float: none;
    width: auto;
    height: 300px;
    padding: 20px 10px 5px 10px;
    margin: 0 5px 5px 5px;
    transition: width 0.3s, height 0.3s, padding 0.3s;
}

#controls > div {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

#controls > div:last-child {
    border-bottom: 0;
}

#controls input {
    width: 40px;
}

#controls > div:nth-last-child(2) > input:first-of-type {
    margin-top: 10px;
}

#sidebar.folded {
    width: 0;
    height: 0;
    padding: 0;
}

.hidden {
    display: none;
}

#remover {
    padding: 1px 7px;  
    font-size: 17px;
    font-weight: bold;
    color: red;
    background: lightpink;
}


/* ------------------------- Content ------------------------- */
.content {
    display: table-cell;
    min-height: 100px;
    padding: 10px;
    border-top: 2px solid grey;
    padding-bottom: 70px;
}

.content ul {
    margin-left: 20px;
    list-style: none;
}

.content p {
    text-align: justify;
}

@media screen and (min-width: 480px) {
    #sidebar {width: 160px; float: left;}
    .content {border-left: 2px solid grey; border-top: 0;}
    .header-title {margin-left: 100px;}
    .signin, .signup {width: auto;}
    [class^=sign] label {margin-left: 10px;}
    [class^=sign] input:last-child {margin-left: 10px;}
}


/* ------------------------- Footer ------------------------- */
.footer {
    position: fixed;
    width: auto;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    background: #eaeaea;
}

.footer-author {
    float: left;
    font-size: 12px;
}

.footer-moddate {
    float: right;
    font-size: 12px;
}

.clearfix {
    height: 0px;
    clear: both;
    background: #e74c3c;
}